.dashboard-container {
    padding: 20px;
}

.dashboard-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.dashboard-subtitle {
    color: #ffffff;
    margin-bottom: 30px;
}

/* GRID DE ESTADÍSTICAS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stat-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(62, 111, 255, 0.597);
    text-align: center;
}

.stat-card h2 {
    font-size: 40px;
    margin: 0;
    color: #333;
}

.stat-card p {
    color: #4f4949;
    margin-top: 8px;
}

/* ACTIVIDAD */
.activity-section {
    margin-top: 40px;
}

.activity-section h2 {
    margin-bottom: 15px;
}

.activity-list {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.activity-list li {
    color: #000000;
    padding: 8px 0;
    border-bottom: 1px solid #000000;
}

.activity-list li:last-child {
    border-bottom: none;
}
