.my-songs-container {
  padding: 20px;
}

.page-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.page-subtitle {
  color: #ffffff;
  margin-bottom: 30px;
}

/* GRID DE TARJETAS */
.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

/* TARJETA */
.song-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-title {
  font-size: 20px;
  color: #000;
  margin: 0;
}

.song-artist {
  color: #777;
  font-size: 15px;
}

/* ESTADOS */
.estado {
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  width: fit-content;
  font-size: 14px;
  margin-top: 10px;
}

.verificada {
  background: #2da34b;
}

.pendiente {
  background: #d68b1c;
}
